<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IP 관리</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h2>IP 주소 목록</h2>
    <a th:href="@{/ip/new}">+ IP 등록</a>
    <table>
        <thead>
            <tr>
                <th>주소</th>
                <th>상태</th>
                <th>설명</th>
                <th>관리</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ip : ${ips}">
                <td th:text="${ip.address}"></td>
                <td>
                    <span th:if="${ip.status == 'UP'}" style="color: green;">● UP</span>
                    <span th:if="${ip.status == 'DOWN'}" style="color: red;">● DOWN</span>
                </td>
                <td th:text="${ip.description}"></td>
                <td>
                    <a th:href="@{/ip/edit/{id}(id=${ip.id})}">수정</a>
                    <a th:href="@{/ip/delete/{id}(id=${ip.id})}">삭제</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
